.sequencer-controls {
    height: 10%;
    min-width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.play-stop-button {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
