:root {
  /* Darcula color palette */
  --background-color: #282a36;
  --background-secondary-color: #44475a;
  --foreground-color: #f8f8f2;
  --purple: #bd93f9;
  --orange: #FF5523;
  --yellow: #f1fa8c;
  --pink: #ff79c6;
  --cyan: #8be9fd;
  --gray: #999;
  --green: #17bd17;
  --blue: #6969e0;
}

@font-face {
  font-family: 'TR-909';
  src: local('TR-909'), url(./assets/fonts/TR-909.ttf) format('truetype');
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
